# 📦 Flutter build outputs
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.dart_tool/

# 💻 IDEs & Editors
.idea/
.vscode/

# 🔐 Environment & secrets
.my_env.env
*.my_env.env
.my_env.env.*
firebase-debug.log
*.secret.*
*.key
*.pem
*.jks
service-account.json


# 📱 Android specific
android/key.properties
android/local.properties

# 🍏 iOS specific
ios/Pods/
ios/Flutter/Generated.xcconfig



# 🧪 Test & coverage
coverage/
test-results/

# 💾 System
.DS_Store
Thumbs.db


# Firebase config files
android/app/google-services.json
ios/Runner/GoogleService-Info.plist


# 🔧 CI/CD
codemagic.yaml.secret
.firebaserc/
